<!-- Material form register -->
<div class="card" id="login">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Ajouter un Client</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="#!" (submit)="ajouterContrat()">

          
            <div class="form-group" >
                <label for="idPrixContrat">Téléphone Privé</label>
                <input type="number" class="form-control" id="idPrixContrat" placeholder="Prix du contrat" [(ngModel)]="contrat.prixContrat" name="pPrixContrat"/>
            </div>
            <div class="form-group" >
                <label for="idDateTransactionContrat">Aquereur</label>
                <input type="text" class="form-control" id="idDateTransactionContrat" placeholder="Date de la Transaction" [(ngModel)]="contrat.dateTransactionContrat" name="pDateTransactionContrat"/>
            </div>
           
           



            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Ajouter le contrat</button>
        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form register --> 