<!-- Material form register -->
<div class="card" id="login">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Supprimer une visite</strong>
    </h5>
  
    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
  
        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="#!" (submit)="supprimerVisite()">
  
            <div class="form-group" >
                <label for="idVisite">#ID visite</label>
                <input type="number" class="form-control" id="idVisite" placeholder="ID de la visite" [(ngModel)]="idVisite" name="pId"/>
            </div>
                 
           
  
  
  
            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Supprimer une visite</button>
        </form>
        <!-- Form -->
  
    </div>
  
  </div>
  <!-- Material form register --> 
