nav {
    background-color: #ecdeb8;
    border-radius: 5px;
}

.col-2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 25px;
    max-width: 215px;
    margin-right: 75px;
}

img {
    width: 70px; 
    height: auto; 
    margin: 0px;
}

#deconnect {
    height: 30px;
    width: auto;
    margin-left: 10px;
    margin-top: 0px;
}

#deconnect1{
    margin-right: 0px;
    right: 0px; 
    position: absolute;
}

#login {
    margin-right: 0px;
    right: 100px; 
    position: absolute;
}

a{
    color: black;
}
h3{
    font-style : normal;

}

.test1{
    background-color: #ecdeb8;
}