<nav>
  <div class="row">
    <div class="btn-group mr-3" id="accueil">
      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button [routerLink]="['/welcome']" class="btn btn-outline-primary">Accueil</button>
      </div>
    </div>
    <div class="btn-group mr-3">
      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-primary" ngbDropdownToggle>Biens immobiliers</button>
        <div class="dropdown-menu" ngbDropdownMenu>

          <a [routerLink]="['/aLouer/add']" ngbDropdownItem>Ajouter un bien immobilier à louer</a>
          <a [routerLink]="['/aLouer/update']" ngbDropdownItem>Modifier un bien immobilier à louer</a>
          <a [routerLink]="['/aLouer/getById']" ngbDropdownItem>Rechercher un bien immobilier à louer</a>
          <a [routerLink]="['/aLouer/getAll']" ngbDropdownItem>Liste des biens immobilier à louer</a>
          <a [routerLink]="['/aLouer/delete']" ngbDropdownItem>Supprimer un bien immobilier à louer</a>
          <div class="dropdown-divider"></div>
          <a [routerLink]="['/aAcheter/add']" ngbDropdownItem>Ajouter un bien immobilier à acheter</a>
          <a [routerLink]="['/aAcheter/update']" ngbDropdownItem>Modifier un bien immobilier à acheter</a>
          <a [routerLink]="['/aAcheter/getById']" ngbDropdownItem>Rechercher un bien immobilier à acheter</a>
          <a [routerLink]="['/aAcheter/getAll']" ngbDropdownItem>Liste des biens immobilier à acheter</a>
          <a [routerLink]="['/aAcheter/delete']" ngbDropdownItem>Supprimer un bien immobilier à acheter</a>
        </div>
      </div>
    </div>

    <div class="btn-group mr-3" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-primary" ngbDropdownToggle>Categorie</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a [routerLink]="['/categorie/add']" ngbDropdownItem>Ajouter une catégorie</a>
        <a [routerLink]="['/categorie/update']" ngbDropdownItem>Modifier une catégorie</a>
        <a [routerLink]="['/categorie/getById']" ngbDropdownItem>Rechercher une catégorie</a>
        <a [routerLink]="['/categorie/getAll']" ngbDropdownItem>Liste des catégories</a>
        <a [routerLink]="['/categorie/delete']" ngbDropdownItem>Supprimer une catégorie</a>
      </div>
    </div>
    <div class="btn-group mr-3" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-primary" ngbDropdownToggle>Clients</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a [routerLink]="['/client/add']" ngbDropdownItem>Ajouter un client</a>
        <a [routerLink]="['/client/update']" ngbDropdownItem>Modifier un client</a>
        <a [routerLink]="['/client/getById']" ngbDropdownItem>Rechercher un client</a>
        <a [routerLink]="['/client/getAll']" ngbDropdownItem>Liste des clients</a>
        <a [routerLink]="['/client/delete']" ngbDropdownItem>Supprimer un client</a>
      </div>
    </div>
    <div class="btn-group mr-3" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button ngbDropdownToggle>Propriétaires</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a [routerLink]="['/proprietaire/add']" ngbDropdownItem>Ajouter un propriétaire</a>
        <a [routerLink]="['/proprietaire/update']" ngbDropdownItem>Modifier un propriétaire</a>
        <a [routerLink]="['/proprietaire/getById']" ngbDropdownItem>Rechercher un propriétaire</a>
        <a [routerLink]="['/proprietaire/getAll']" ngbDropdownItem>Liste des propriétaires</a>
        <a [routerLink]="['/proprietaire/delete']" ngbDropdownItem>Supprimer un propriétaire</a>
      </div>
    </div>
    <div class="btn-group mr-3" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-primary" ngbDropdownToggle>Visites</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a [routerLink]="['/visite/add']" ngbDropdownItem>Ajouter une visite</a>
        <a [routerLink]="['/visite/update']" ngbDropdownItem>Modifier une visite</a>
        <a [routerLink]="['/visite/getById']" ngbDropdownItem>Rechercher un propriétairee visite</a>
        <a [routerLink]="['/visite/getAll']" ngbDropdownItem>Liste des visites</a>
        <a [routerLink]="['/visite/delete']" ngbDropdownItem>Supprimer une visite</a>
      </div>
    </div>
    <div class="btn-group mr-3" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-primary" ngbDropdownToggle>Contrats</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a [routerLink]="['/contrat/add']" ngbDropdownItem>Ajouter un contrat</a>
        <a [routerLink]="['/contrat/update']" ngbDropdownItem>Modifier un contrat</a>
        <a [routerLink]="['/contrat/getById']" ngbDropdownItem>Rechercher un contrat</a>
        <a [routerLink]="['/contrat/getAll']" ngbDropdownItem>Liste des contrats</a>
        <a [routerLink]="['/contrat/delete']" ngbDropdownItem>Supprimer un contrat</a>
      </div>
    </div>
  </div>

</nav>