<div>
    <div class="row">
        <h3>Liste des biens à louer</h3>
    </div>
    <div class="row" id="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Statut du bien</th>
                    <th scope="col">Date de soumission du bien</th>
                    <th scope="col">Localisation du bien</th>
                    <th scope="col">Date de disponibilité du bien</th>
                    <th scope="col">Revenu Cadastral</th>
                    <th scope="col">Pays</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Numéro de facture</th>
                    <th scope="col">Date de facture</th>
                    <th scope="col">Numéro Affaire du bien</th>
                    <th scope="col">Type de bien</th>
                    <th scope="col">Caution à louer</th>
                    <th scope="col">Loyer à louer</th>
                    <th scope="col">Charges à louer</th>
                    <th scope="col">Bail à louer</th>
                    <th scope="col">Garnitures à louer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aLouer of aLouers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <td>{{aLouer.idBienImmobilier}}</td>
                    <td>{{aLouer.statutBienImmobilier}}</td>
                    <td>{{aLouer.dateSoumissionBienImmobilier}}</td>
                    <td>{{aLouer.localisationBienImmobilier}}</td>
                    <td>{{aLouer.dateDispoBienImmobilier}}</td>
                    <td>{{aLouer.revenuCadastralBienImmobilier}}</td>
                    <td>{{aLouer.paysBienImmobilier}}</td>
                    <td>{{aLouer.photo}}</td>    
                    <td>{{aLouer.numeroFactureBienImmobilier}}</td>
                    <td>{{aLouer.dateFactureBienImmobilier}}</td>
                    <td>{{aLouer.numeroAffaireBienImmobilier}}</td>
                    <td>{{aLouer.typeDeBienImmobilier}}</td>
                    <td>{{aLouer.cautionALouer}}</td>
                    <td>{{aLouer.loyerALouer}}</td>
                    <td>{{aLouer.chargesALouer}}</td>
                    <td>{{aLouer.bailALouer}}</td>
                    <td>{{aLouer.garnituresALouer}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="aLouers.length"></ngb-pagination>
    </div>
</div>