
<div class="jumbotron" >

                <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                ngbPopover="CREP-q Immobillier est une agence immobilliere spécialisé dans les batiments basse-consommations.
                Nous traivaillons avec de nombreux spécialistes du domaine pour vous dénicher les meilleures investissements." popoverTitle="A PROPOS">
                A PROPOS
            </button>
        
            <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
                ngbPopover="Nous vous proposons une large gamme de biens à vendre, à acheter et mêmes louer. Et oui, on est comme ça ici.
                Vous beneficiez de technicien qui vous conseil pour réduire vos consommations." popoverTitle="NOS SERVICES">
                NOS SERVICES
            </button>
        
            <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
                ngbPopover="Fondé en 1975 la société CREP-q à surmonté les difficultés des crises des sub-primes. Aujourd'hui nous avons les armes pour 
                eviter ces abbérations financiere." popoverTitle="NOTRE HISTOIRE">
                NOTRE HISTOIRE
            </button>
        
            <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
                ngbPopover="Phillipe BUR, Spécialiste en invesstiment financier en batiment à energie positive. e-mail : philippe.bur@CREP-q.pol" popoverTitle="CONTACT">
                CONTACT
            </button>
            <div>
        <h1 class="display-4">Bienvenue sur CREP-q Immobilier !</h1>
        <hr class="my-4">
        <p>Vous êtes priopriétaire ou à la recherche d'une location ce site est fait pour vous !</p>
            <p> Nous proposons une large gamme de biens immobiliers à vendre ou à louer.<br/> Si vous êtes propriétaire nos agents immobilliers sont capable de vous trouver les locataires idéaux.<br/></p>
        <br/><br/>
        <div><h4 style="text-align: center;">
                Batissez votre avenir et faites gérer votre patrimoine dès maintenant avec CREP-q Immobillier.
        </h4></div>
        <br/>
        <a  id="id2" class="btn btn-primary btn-lg" [routerLink]="['/ajoutBienProp']" role="button">Vous souhaitez louer ou vendre</a>
        <a id="id1" class="btn btn-primary btn-lg" [routerLink]="['/aAcheterClient']" role="button">Vous êtes à la recherche d'un logement</a>

        
      </div>


<!--<div class="vertical-menu">
        <a href="#" class="active">Home</a>
        <a href="#">A propos</a>
        <a href="#">Histoire</a>
        <a href="#">Nos activités</a>
        <a href="#">Secteurs d'activités</a>
        <a href="#">Investisseurs</a>
        <a href="#">Carrières</a>
      </div>-->