<!-- Material form register -->
<div class="card" id="login">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Ajouter un bien à vendre</strong>
    </h5>
    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
        <!-- Form -->
        <form class="text-center" style="color: #757575;" #addAAcheterForm=ngForm>
            <div class="form-group">
                <label for="idNomProp">Statut</label>
                <input type="text" class="form-control" id="idNomProp" placeholder="Nom du proprietaire"
                    [(ngModel)]="aAcheter.statutBienImmobilier" name="pStatutBienImmobilier" />
            </div>
            <div class="form-group">
                <label for="idTelProp">Date Soumission du bien</label>
                <input type="text" class="form-control" id="idTelProp" placeholder="Telephone Prive"
                    [(ngModel)]="aAcheter.dateSoumissionBienImmobilier" name="pTelProp" />
            </div>
            <div class="form-group">
                <label for="idTelProProp">Localisation du bien</label>
                <input type="text" class="form-control" id="idTelProProp" placeholder="Telephone Professionnel"
                    [(ngModel)]="aAcheter.localisationBienImmobilier" name="pTelProProp" />
            </div>
            <div class="form-group">
                <label for="idAddrProp">Date de disponibilité du bien</label>
                <input type="text" class="form-control" id="idAddrProp" placeholder="Adresse du proprietaire"
                    [(ngModel)]="aAcheter.dateDispoBienImmobilier" name="pAddrProp" />
            </div>
            <div class="form-group">
                <label for="idAddrProp">Revenu Cadastral du bien</label>
                <input type="text" class="form-control" id="idAddrProp" placeholder="Adresse du proprietaire"
                    [(ngModel)]="aAcheter.revenuCadastralBienImmobilier" name="pAddrProp" />
            </div>
            <div class="form-group">
                <label for="idAddrProp">Pays du bien</label>
                <input type="text" class="form-control" id="idAddrProp" placeholder="Adresse du proprietaire"
                    [(ngModel)]="aAcheter.paysBienImmobilier" name="pAddrProp" />
            </div>
            <div class="form-group">
                <label for="idAddrProp">Photo du bien</label>
                <input #imageInput type="file" accept="image/*" (change)="processFile()" class="form-control" id="idAddrProp"
                    [(ngModel)]="aAcheter.photo" name="pPhoto" />
            </div>
            <div class="form-group">
                <label for="idAddrProp">Numero de facture du bien</label>
                <input type="text" class="form-control" id="idAddrProp" placeholder="Adresse du proprietaire"
                    [(ngModel)]="aAcheter.numeroFactureBienImmobilier" name="pAddrProp" />
            </div>
            <div class="form-group">
                <label for="idAddrProp">Date de facture du bien</label>
                <input type="text" class="form-control" id="idAddrProp" placeholder="Adresse du proprietaire"
                    [(ngModel)]="aAcheter.dateFactureBienImmobilier" name="pAddrProp" />
            </div>
            <div class="form-group">
                <label for="idAddrProp">Numéro affaire du bien</label>
                <input type="text" class="form-control" id="idAddrProp" placeholder="Adresse du proprietaire"
                    [(ngModel)]="aAcheter.numeroAffaireBienImmobilier" name="pAddrProp" />
            </div>
            <div class="form-group">
                <label for="idAddrProp">Type du bien</label>
                <input type="text" class="form-control" id="idAddrProp" placeholder="Adresse du proprietaire"
                    [(ngModel)]="aAcheter.typeDeBienImmobilier" name="pAddrProp" />
            </div>
            <div class="form-group">
                <label for="idAddrProp">Prix du bien</label>
                <input type="text" class="form-control" id="idAddrProp" placeholder="Adresse du proprietaire"
                    [(ngModel)]="aAcheter.prixDemandeAAcheter" name="pAddrProp" required/>
            </div>
            <div class="form-group">
                <label for="idAddrProp">Etat du bien</label>
                <input type="text" class="form-control" id="idAddrProp" placeholder="Adresse du proprietaire"
                    [(ngModel)]="aAcheter.etatAAcheter" name="pAddrProp" />
            </div>
            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" (click)="ajouter()" [disabled]="!addAAcheterForm.valid">Ajouter
                le Proprietaire</button>
        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form register -->


