<div class="card" id="login">
<h5 class="card-header info-color white-text text-center py-4">
        <strong>Veuillez entrer l'ID du proprietaire à supprimer</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;"  (submit)="supprimerProp()">
            <!-- <div class="form-group">
                    <label for="idIdProp">ID du proprietaire</label>
                    <input type="number" class="form-control" id="idIdProp" placeholder="ID du proprietaire"
                        [(ngModel)]="proprietaire.idPersonne" name="pIProp" />
            </div> -->

            <div class="form-group">
                <label for="idIdProp">Id</label>
                <input type="number" class="form-control" id="idIdProp" placeholder="ID du propriétaire à supprimer" [(ngModel)]="idPersonne" name="pIdProp" />
            </div>
            
            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Supprimer le propriétaire</button>
        </form>
        <!-- Form -->

    </div>
</div>

<!-- Material form register -->