
<div>
    <div class="row">
        <h3>Liste des proprietaires</h3>
    </div>
    <div class="row" id="table">
        <table class="table table-striped">
            <thead>
                <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom du Propriétaire</th>
            <th scope="col">Télephone Privé </th>
            <th scope="col">Téléphone Professionnel</th>
            <th scope="col">Adresse du Propriétaire</th>
            <!--<th scope="col">Modification</th>-->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prop of proprietaires | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <th>{{prop.idPersonne}}</th>
            <td>{{prop.nomPersonne}}</td>
            <td>{{prop.telephonePrive}}</td>
            <td>{{prop.telephoneProfessionnel}}</td>
            <td>{{prop.adresseProprietaire}}</td>
            <!--<td><a [routerLink]="['/updateProp']" [queryParams]="{pIdProp : prop.idPersonne}">Modifier</a><br/>
                <button (click)="supprimerProp(prop)"> Supprimer </button>
            </td>-->
                </tr>
            </tbody>
        </table>    
    </div>
    <div class="row">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="proprietaires.length"></ngb-pagination>
    </div>
</div>
