
/* import de css pour le clandar*/
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 200px;
   
}

@font-face {
  font-family: 'amsterdamFont';
  src: url('assets/fonts/Amsterdam-VwYy.ttf');
}

@font-face {
  font-family: 'diamondFont';
  src: url('assets/fonts/Diamond Dust - PERSONAL USE ONLY.ttf');
}

html, body { height: 100%; }
body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
