

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Téléphone Privé</th>
        <th scope="col">Acquéreur</th>
        <th scope="col">Adresse</th>
        <th scope="col">Opérations</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
          <th scope="row">{{client.idPersonne}}</th>
          <td>{{client.nomPersonne}}</td>
          <td>{{client.telephonePrive}}</td>
          <td>{{client.acquereur}}</td>
          <td>{{client.adresseClient}}</td>
          <td><a (click)="naviguer(client)" >Supprimer</a> | <a [routerLink]="['/client/update']" [queryParams]="{pIdPersonne:client.idPersonne}" >Modifier</a></td>
        </tr>
    </tbody>
  </table>
