<!-- Material form register -->
<div class="test">
<div class="card" id="login">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Veulliez ajouter un propriétaire</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;"  (submit)="ajouterProp()">
            <!-- <div class="form-group">
                    <label for="idIdProp">ID du proprietaire</label>
                    <input type="number" class="form-control" id="idIdProp" placeholder="ID du proprietaire"
                        [(ngModel)]="proprietaire.idPersonne" name="pIProp" />
            </div> -->

            <div class="form-group">
                <label for="idNomProp">Nom du propriétaire</label>
                <input type="text" class="form-control" id="idNomProp" placeholder="Nom du propriétaire"
                    [(ngModel)]="proprietaire.nomPersonne" name="pNomProp" />
            </div>
            <div class="form-group">
                <label for="idTelProp">Téléphone Privé</label>
                <input type="text" class="form-control" id="idTelProp" placeholder="Téléphone Privé"
                    [(ngModel)]="proprietaire.telephonePrive" name="pTelProp" />
            </div>
            <div class="form-group">
                <label for="idTelProProp">Téléphone Professionnel</label>
                <input type="text" class="form-control" id="idTelProProp" placeholder="Téléphone Professionnel"
                    [(ngModel)]="proprietaire.telephoneProfessionnel" name="pTelProProp" />
            </div>
            <div class="form-group">
                <label for="idAddrProp">Adresse du propriétaire</label>
                <input type="text" class="form-control" id="idAddrProp" placeholder="Adresse du propriétaire"
                    [(ngModel)]="proprietaire.adresseProprietaire" name="pAddrProp" />
            </div>
            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Ajouter
                le propriétaire</button>
        </form>
        <!-- Form -->

    </div>

</div>
</div>
<!-- Material form register -->


